@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
    height: 100%;
}

@media screen and (min-width: 720.2px){
    body {
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        background-color: #ffff;
        width: 80%;
        border-radius: 0 0 20px 20px;
        max-width: 850px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 450px;
    }
    
    section {
        width: 50%;

    }

    fieldset {
        border: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    legend {
        padding-top: 40px;
        font-size: 25px;
        line-height: 1.3;
    }

    header {
        background-color: #04B071;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 10px;
        align-items: center;
        width: 80%;
        max-width: 850px;
    }

    h1{
        font-family: "Black Han Sans";
        font-size: 20px;
        color: white;
        font-weight: normal;
        padding-left: 20px;
    }

    .bg-login {
        background-image: url(../imagens/mundo_G.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-bottom-right-radius: 20px;
    }


    input[type="email"], input[type="password"] {
        max-width: 300px;
        height: 40px;
        line-height: 40px;
        padding-left: 40px;
        border-radius: 10px;
        border: 2px solid #034C8C;
        color: #034c8c81;
        align-items: center;
        font-family: "Black Han Sans";
    }

    input[type="email"] {
        background-image: url(../icones/Email.png);
        background-repeat: no-repeat;
        background-position: 5px center;
    }

    input[type="password"] {
        background-image: url(../icones/Lock.png);
        background-repeat: no-repeat;
        background-position: left center;
    }

    label {
        padding: 10px 0px;
    }

    input[type="button"] {
        background-color: #04B071;
        height: 45px;
        padding: 0px 10px;
        line-height: 45px;
        max-width: 100px;
        border: 1px solid #04B071;
        color: #f1f1f1;
        font-size: 18px;
        font-family: "Black Han Sans";
        font-weight: normal;
        border-radius: 10px;
    }

    input[type="button"]:hover {
        background-color: #034C8C;
        cursor: pointer;
    }

    .txt-bottom {
        padding-top: 10px;
    }

    .sv-login {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
}